*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:Poppins,sans-serif;
    background:#f7f3ee;
    color:#2d2d2d;
}

/* ---------------- HERO ---------------- */

.hero{
    min-height:100vh;
    background-image:url("rome.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:scroll;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:30px;
}

.hero-box{
    width:min(90%,850px);
    margin:auto;

    text-align:center;

    color:white;

    animation:fade 2s;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.18);

    padding:40px 25px;

    border-radius:30px;
}

.hero-box h1{

font-family:"Cormorant Garamond",serif;

font-size:38px;

font-weight:700;

line-height:1.15;

margin-bottom:30px;

letter-spacing:1px;

text-shadow:
0 5px 20px rgba(0,0,0,.45),
0 10px 35px rgba(0,0,0,.35);

animation:title 2s ease;

}

.hero-box p{

font-size:25px;

line-height:1.9;

max-width:650px;

margin:auto;

margin-bottom:45px;

opacity:.96;

}

.button{

display:inline-block;

padding:18px 48px;

border-radius:999px;

background:linear-gradient(135deg,#c49a4a,#e5c987);

color:white;

text-decoration:none;

font-weight:600;

font-size:20px;

box-shadow:

0 15px 40px rgba(0,0,0,.25),

0 0 40px rgba(212,177,106,.25);

transition:.4s;

}

.button:hover{

transform:translateY(-6px) scale(1.05);

box-shadow:

0 25px 55px rgba(0,0,0,.25),

0 0 50px rgba(212,177,106,.45);

}

/* ------------ COUNTDOWN ------------ */

#countdown{

padding:120px 30px;

text-align:center;

}

#countdown h2{

font-size:50px;

font-family:"Cormorant Garamond",serif;

margin-bottom:60px;

}

#timer{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.time-box{

width:140px;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 12px 30px rgba(0,0,0,.08);

}

.time-box span{

display:block;

font-size:46px;

font-weight:700;

color:#c8a35d;

}

.time-box p{

margin-top:10px;

letter-spacing:2px;

font-size:14px;

color:#666;

}

/* ------------ ANIMACJA ------------ */

@keyframes fade{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:none;

}

}/* ---------- PREZENT ---------- */

.reveal{

padding:140px 20px;

text-align:center;

background:#faf7f2;

}

.reveal h2{

font-family:"Cormorant Garamond",serif;

font-size:58px;

margin-bottom:20px;

}

.reveal-text{

max-width:700px;

margin:auto;

font-size:22px;

line-height:1.8;

margin-bottom:60px;

}

.gift-card{

width:340px;

height:220px;

margin:auto;

perspective:1200px;

cursor:pointer;

}

.card-inner{

width:100%;

height:100%;

position:relative;

transition:1s;

transform-style:preserve-3d;

}

.gift-card.flip .card-inner{

transform:rotateY(180deg);

}

.card-front,
.card-back{

position:absolute;

width:100%;

height:100%;

border-radius:24px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

backface-visibility:hidden;

box-shadow:0 20px 45px rgba(0,0,0,.15);

padding:30px;

}

.card-front{

background:linear-gradient(135deg,#c8a35d,#e6c98d);

color:white;

font-size:70px;

}

.card-front h3{

margin-top:20px;

font-size:24px;

}

.card-back{

background:white;

transform:rotateY(180deg);

}

.card-back h3{

font-family:"Cormorant Garamond",serif;

font-size:40px;

margin-bottom:20px;

}

.card-back p{

font-size:20px;

line-height:1.8;

}/* BOARDING PASS */

.boarding-section{

padding:120px 20px;

background:#f5f2ed;

}

.boarding-pass{

max-width:1000px;

margin:auto;

display:flex;

background:white;

border-radius:25px;

overflow:hidden;

box-shadow:0 20px 45px rgba(0,0,0,.12);

}

.left{

flex:3;

padding:45px;

}

.right{

flex:1;

background:#c8a35d;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

}

.middle{

width:2px;

background:repeating-linear-gradient(
to bottom,
#ddd,
#ddd 10px,
transparent 10px,
transparent 20px
);

}

.left h3{

font-size:36px;

margin-bottom:30px;

font-family:"Cormorant Garamond",serif;

}

.small{

font-size:13px;

letter-spacing:3px;

color:#888;

margin-bottom:10px;

}

.row{

display:flex;

gap:70px;

margin-bottom:30px;

}

.row span{

font-size:12px;

color:#888;

letter-spacing:2px;

}

.row h4{

font-size:28px;

margin-top:5px;

}

.plane{

font-size:70px;

margin-bottom:40px;

}

.barcode{

width:120px;

height:80px;

background:repeating-linear-gradient(
90deg,
black,
black 3px,
white 3px,
white 6px
);

margin-bottom:20px;

}/* HOTEL */

.hotel-section{

padding:120px 20px;

background:white;

}

.hotel-card{

max-width:850px;

margin:auto;

background:linear-gradient(135deg,#1d1d1d,#3b3b3b);

color:white;

padding:50px;

border-radius:25px;

box-shadow:0 25px 50px rgba(0,0,0,.2);

}

.hotel-top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:40px;

}

.hotel-top h3{

font-size:40px;

font-family:"Cormorant Garamond",serif;

}

.hotel-top p{

opacity:.8;

}

.stars{

font-size:28px;

color:#d4b16a;

}

.hotel-info{

display:flex;

justify-content:space-between;

margin:40px 0;

gap:20px;

}

.hotel-info div{

background:rgba(255,255,255,.08);

padding:20px;

border-radius:15px;

flex:1;

text-align:center;

}

.hotel-info span{

font-size:13px;

opacity:.7;

letter-spacing:2px;

}

.hotel-info h4{

margin-top:12px;

font-size:22px;

}

.hotel-text{

margin-top:40px;

font-size:20px;

line-height:1.8;

text-align:center;

}/* ---------- MEMORY ---------- */

.memory-section{

padding:120px 20px;

background:#f8f5f0;

}

.memory-card{

max-width:1100px;

margin:auto;

display:flex;

gap:60px;

align-items:center;

flex-wrap:wrap;

}

.memory-photo{

flex:1;

text-align:center;

}

.memory-photo img{

width:100%;

max-width:420px;

border-radius:25px;

box-shadow:0 20px 45px rgba(0,0,0,.18);

transition:.5s;

}

.memory-photo img:hover{

transform:scale(1.04);

}

.memory-text{

flex:1;

font-size:22px;

line-height:2;

}/* ---------- LETTER ---------- */

.letter-section{

padding:120px 20px;

background:white;

text-align:center;

}

.letter-box{

max-width:800px;

margin:auto;

background:#fffdf9;

padding:60px;

border-radius:25px;

box-shadow:0 15px 35px rgba(0,0,0,.12);

font-size:22px;

line-height:2;

font-family:"Cormorant Garamond",serif;

}/* ---------- END ---------- */

.ending{

background:linear-gradient(180deg,#1d1d1d,#090909);

padding:170px 20px;

text-align:center;

color:white;

position:relative;

overflow:hidden;

}

.ending-content{

max-width:800px;

margin:auto;

position:relative;

z-index:2;

}

.ending h2{

font-size:68px;

font-family:"Cormorant Garamond",serif;

margin-bottom:35px;

color:#d6b06d;

}

.ending p{

font-size:24px;

line-height:2;

}.fade{

opacity:0;

transform:translateY(70px);

transition:1s;

}

.fade.show{

opacity:1;

transform:none;

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.03);

}

100%{

transform:scale(1);

}

}

.button{

animation:pulse 2.8s infinite;

}h2{

background:linear-gradient(90deg,#9d7933,#d7b26c,#9d7933);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}
/* ================================
   TELEFON - FINALNA WERSJA
   ================================ */

@media (max-width: 768px) {

    /* ---------- HERO ---------- */

    .hero {
        min-height: 100svh;
        width: 100%;
        padding: 25px 15px;
        border-radius: 0;

        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        background-attachment: scroll;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-box {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;

        padding: 22px 18px;

        text-align: center;

        border-radius: 24px;

        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }

    .hero-box h1 {
        font-size: 28px;
        line-height: 1.15;
        margin-bottom: 20px;
    }

    .hero-box p {
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 28px;
    }

    .hero-box .button {
        display: inline-block;

        width: auto;
        max-width: 100%;

        padding: 14px 24px;

        font-size: 15px;
    }


    /* ---------- ODLICZANIE ---------- */

    #countdown {
        padding: 80px 15px;
    }

    #countdown h2 {
        font-size: 36px;
        line-height: 1.2;
        margin-bottom: 35px;
    }

    #timer {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
        flex-wrap: wrap;
    }

    .time-box {
        width: calc(50% - 10px);
        max-width: 145px;
        padding: 20px 10px;
        border-radius: 18px;
    }

    .time-box span {
        font-size: 34px;
    }

    .time-box p {
        font-size: 11px;
        letter-spacing: 1px;
    }


    /* ---------- PREZENT ---------- */

    .reveal {
        padding: 90px 15px;
    }

    .reveal h2 {
        font-size: 44px;
        line-height: 1.2;
    }

    .reveal-text {
        font-size: 17px;
        line-height: 1.7;
        margin-bottom: 40px;
    }

    .gift-card {
        width: min(100%, 340px);
        height: 220px;
    }


    /* ---------- BILETY ---------- */

    .boarding-section {
        padding: 80px 12px;
    }

    .boarding-section h2 {
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 35px;
    }

    .boarding-pass {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;

        border-radius: 22px;
    }

    .left {
        width: 100%;
        padding: 25px 20px;
    }

    .left h3 {
        font-size: 25px;
        line-height: 1.2;
        margin-bottom: 25px;
    }

    .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 22px;
    }

    .row > div {
        flex: 1;
        min-width: 0;
    }

    .row span {
        font-size: 10px;
        letter-spacing: 1.5px;
    }

    .row h4 {
        font-size: 19px;
        line-height: 1.2;
        margin-top: 5px;
    }

    .middle {
        width: 100%;
        height: 2px;

        background: repeating-linear-gradient(
            to right,
            #ddd,
            #ddd 10px,
            transparent 10px,
            transparent 20px
        );
    }

    .right {
        width: 100%;
        min-height: 150px;

        padding: 25px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plane {
        font-size: 42px;
        margin-bottom: 18px;
    }

    .barcode {
        width: 150px;
        height: 55px;
        margin-bottom: 12px;
    }


    /* ---------- HOTEL ---------- */

    .hotel-section {
        padding: 80px 15px;
    }

    .hotel-section h2 {
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 35px;
    }

    .hotel-card {
        width: 100%;
        padding: 30px 20px;
        border-radius: 22px;
    }

    .hotel-top {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .hotel-top h3 {
        font-size: 34px;
    }

    .hotel-info {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 30px 0;
    }

    .hotel-info div {
        width: 100%;
    }

    .hotel-text {
        font-size: 17px;
        line-height: 1.7;
    }


    /* ---------- ZDJĘCIE ---------- */

    .memory-section {
        padding: 80px 15px;
    }

    .memory-section h2 {
        font-size: 38px;
        line-height: 1.2;
    }

    .memory-card {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .memory-photo {
        width: 100%;
    }

    .memory-photo img {
        width: 100%;
        max-width: 100%;
        border-radius: 20px;
    }

    .memory-text {
        width: 100%;
        font-size: 18px;
        line-height: 1.8;
        text-align: center;
    }


    /* ---------- LIST ---------- */

    .letter-section {
        padding: 80px 15px;
    }

    .letter-section h2 {
        font-size: 42px;
    }

    .letter-box {
        width: 100%;
        padding: 35px 22px;
        border-radius: 20px;

        font-size: 18px;
        line-height: 1.8;
    }


    /* ---------- KONIEC ---------- */

    .ending {
        min-height: 100svh;

        padding: 80px 20px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ending-content {
        width: 100%;
        max-width: 400px;
    }

    .ending h2 {
        font-size: 44px;
        line-height: 1.2;
    }

    .ending p {
        font-size: 18px;
        line-height: 1.8;
    }

}
/* TEST - USUNIĘCIE EFEKTU ZASŁONY NA HERO */

@media (max-width: 768px) {

    .hero {
        width: 100vw !important;
        min-height: 100svh !important;
        margin: 0 !important;
        padding: 0 !important;

        background: url("rome.jpg") center center / cover no-repeat !important;
        background-attachment: scroll !important;

        border-radius: 0 !important;
    }

    .hero-box {
        background: transparent !important;
        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;

        border: none !important;
        box-shadow: none !important;
    }

}
/* OSTATECZNY TEST HERO */

@media (max-width: 768px) {

    .hero {
        display: none !important;
    }

}
